@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
  font-family: "FreightTextProBook";
  src: url("/assets/fonts/FreightTextProBook-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "EudoxusSans";
  src: url("/assets/fonts/EudoxusSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "EudoxusSans";
  src: url("/assets/fonts/EudoxusSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "EudoxusSans";
  src: url("/assets/fonts/EudoxusSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --sh-sign: #8996a3;
  --sh-comment: #a19595;
  --sh-jsxliterals: #6266d1;
  --sh-property: #ffab70;
  --sh-entity: #ffab70;
  --sh-class: #79b8ff;
  --sh-identifier: white;
  --sh-keyword: #f47067;
  --sh-string: #85e89d;

  --text-color-link: rgba(255, 255, 255, 1);
  --text-color-underline: rgba(162, 164, 170, 0.5);
  --text-color-heading: rgba(255, 255, 255, 1);
  --text-color-body: rgba(218, 219, 225, 1);
  --text-color-muted: rgba(129, 130, 141, 1);

  --border-color: rgba(48, 48, 56, 1);

  --text-sans: "EudoxusSans", sans-serif;
  --text-serif: "FreightTextProBook", serif;
}

::-moz-selection {
  /* Code for Firefox */
  color: #354150;
  background: #85e89d;
}

::selection {
  color: #354150;
  background: #85e89d;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(17, 16, 16);
  /* font-family: var(--text-font); */
}

/* .prose .anchor {
  @apply absolute invisible no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply transition-all decoration-neutral-600 underline-offset-2 decoration-[0.1em];
}

.prose .anchor:after {
  @apply text-neutral-700;
  content: "#";
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose pre {
  @apply bg-neutral-900 rounded-lg overflow-x-auto border border-neutral-900;
}

.prose code {
  @apply px-1 py-0.5 rounded-lg;
}

.prose pre code {
  @apply p-0;
  border: initial;
  line-height: 1.5;
}

.prose code span {
  @apply font-medium;
} */

.prose img {
  /* Don't apply styles to next/image */
  /* @apply m-0; */
}

/* .prose h2,
h3,
h4 {
  @apply font-medium tracking-tighter !important;
}

.prose strong {
  @apply font-medium;
} */

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  /* margin-top: 1.25em !important; */
  /* margin-bottom: 1.25em !important; */
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.title {
  text-wrap: balance;
}

/* Links */
.sub-link {
  position: relative;
  color: var(--text-color-link);
  text-decoration: underline;
  text-decoration-color: var(--text-underline-color);
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  font-size: 1.01em;
  font-family: var(--text-serif);
}
